@use "./general.scss";
@use "./partials/variables" as c;

.container {
    height: 100vh;
}

.row {
    height: calc(100% / 3);
}

.cards-container {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem 0;
}