@use "./general.scss";
@use "./partials/variables" as c;

.container {
    height: 100vh;
}

.row {
    height: calc(100% / 2 - 70px);
}

h3{
    color: c.$g-color;
}

.cards-container {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}