@use "./partials/variables" as c;
@import "bootstrap/scss/bootstrap";
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: c.$bg-color;
}